body {
    border: 2px solid;
    margin: 0px;
}

#box1 {
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background: greenyellow;
    padding: 40px;
    margin: 20px 50px 25px 20px;
}

#box2 {
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background: dodgerblue;
    padding: 40px;
    margin: auto;
}